/*Colors*/
:root {
	--bg-color: #F7F0D4;
	--head-color: #FCCB1A;
	--main-txt-color: #4424D6;
	--txt-color-dark: #3214B8;
	--txt-black: #110934;
	--txt-error: #ff7272;
	--btn-color: #d2d5d8;
	--btn-hover-color: #b8babc;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-size: 4em;
	font-family: 'Ubuntu', sans-serif;
}

body {
	text-align: center;
	height: 100%;
	max-height: 100vh;
	overflow: hidden;
	background-color: var(--bg-color);
}

table {
	/*min-width: 9.3rem;*/
	position: relative;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}

table tr {
}

table tr td {
	font-size: 1.75rem;
	width: 2.5rem;
	height: 2.5rem;
	transition: border-width 1s;
	cursor: pointer;
	color: var(--txt-black);
	border-color: var(--txt-black);
}

table tr:first-child td{
	border-top: none;
}

table tr td:first-child {
	border-left: none;
}

@media only screen and (max-width: 1000px) {
    * {
		font-size: 3.5em;
	}
}

@media only screen and (max-width: 800px) {
    * {
		font-size: 3em;
	}
}

@media only screen and (max-width: 600px) {
    * {
		font-size: 2em;
	}
}

@media only screen and (max-height: 900px) {
    * {
		font-size: 2em;
	}
	
	.form h1 {
		font-size: .75rem;
	}
	
	table tr td {
		font-size: 1.5rem;
		width: 2.5rem;
		height: 2.5rem;
	}
}

.game {
	float: left;
	width: 100%;
	height: 93vh;
	font-size: .25rem;
}

.form {
	width: 100%;
	float: left;
	padding: 20px;
	padding-bottom: 10px;
	background-color: var(--head-color);
}

.form h1 {
	font-size: 1.25rem;
	margin-bottom: 20px;
	color: var(--main-txt-color);
}

.player_input {
	width: 50%;
	float: left;
	font-size: .5rem;
}

.player_input input {
	font-size: .5rem;
	width: .5rem;
	border: none;
	border-bottom: 2px solid var(--txt-color-dark);
	float: left;
	text-align: center;
	color: var(--txt-color-dark);
}

.player_input input:last-child {
	float: right;
}

.player_input .points {
	font-size: .5rem;
	color: var(--txt-color-dark);
}

.select-container {
	width: 100%;
	float: left;
	font-size: .5rem;
	padding-top: 20px;
}

.select-col {
	width: calc(100% / 3);
	font-size: .5rem;
	float: left;
}

#bot1 {
	visibility: hidden;
}

#bot2 {
	visibility: hidden;
}

#bot1 select {
	float: left;
}

#bot2 select{
	float: right;
}

#selectMain {
	margin-left: auto;
	margin-right: auto;
}

select {
	width: 75%;
	font-size: .5rem;
	margin-right: auto;
	margin-left: auto;
	border: none;
	border-bottom: 2px solid var(--txt-color-dark);
	color: var(--txt-color-dark);
}

select option {
	font-size: .5rem;
}

#selectMain button {
	width: 50%;
	border: none;
	border-bottom: 2px solid var(--txt-color-dark);
	color: var(--txt-color-dark);
	background-color: var(--btn-color);
	font-size: .5rem;
	float: left;
	cursor: pointer;
	margin-top: .1rem;
	display: none;
	-webkit-transition: .4s;
	transition: .4s;
}

#selectMain button:hover {
	background-color: var(--btn-hover-color);
}

#selectMain input[type=range] {
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	height: .15rem;
	border-radius: 10px;
	background-color: var(--btn-color);
	outline: none;
	-webkit-transition: .4s;
	transition: .4s;
	display: none;
}

#selectMain input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	border: none;
	background: url("run.png");
	background-repeat: no-repeat;
	background-size: cover;
	cursor: pointer;
}

#selectMain input[type=range]::-webkit-slider-thumb:hover {
	width: 40px;
	height: 40px;
}

#selectMain input[type=range]::-moz-range-thumb {
	width: 25px;
	height: 25px;
	border: none;
	background: url("run.png");
	background-repeat: no-repeat;
	background-size: cover;
	cursor: pointer;
}

#selectMain input[type=range]::-moz-range-thumb:hover {
	width: 40px;
	height: 40px;
}

#selectMain input[type=range]:hover {
	background-color: var(--btn-hover-color);
}

.table-container {
	width: 100%;
	float: left;
}

#statistic {
	float: left;
	width: calc(100vw / 4);
	font-size: .25rem;
	z-index: 1;
	position: absolute;
	padding-left: 20px;
}

.landscape{
	width: 100% !IMPORTANT;
	padding-right: 20px;
}

.landscape canvas {
	width: calc(100% / 3) !IMPORTANT;
}

.landscape h2 {
	text-align: center !IMPORTANT;
	padding-left: .25rem !IMPORTANT;
}

.landscape #legend {
	width: calc(100% / 3) !IMPORTANT;
}

.landscape #legend #total {
	float: none !IMPORTANT;
	margin-left: auto !IMPORTANT;
	margin-right: auto !IMPORTANT;
	text-align: center !IMPORTANT;
}

.landscape #legend .legendRow {
	padding-left: 33%;
	width: 100%;
	float: left;
}

.landscape #legend .legendRow .withBtn {
	float: none;
}

#statistic #dropDown {
	width: 100%;
	float: left;
}

#statistic h2 {
	color: var(--txt-color-dark);
	font-size: .5rem;
	cursor: pointer;
	float: left;
	margin-bottom: .5rem;
	width: 100%;
	text-align: left;
}

#statistic h2 div {
	float: right;
	font-size: .25rem;
	margin-top: .15rem;
	transition: transform 1s;
}

.rotate {
	transform: rotate(180deg);
}

.inactive {
	opacity: .5;
}

#statistic canvas {
	width: 100%;
	font-size: .25rem;
	float: left;
}

#statistic #pie {
	width: 50%;
}

#statistic #legend {
	width: 50%;
	float: left;
	font-size: .25rem;
}

#statistic #totalCon {
	width: 100%;
	float: left;
	font-size: .25rem;
	text-align: center;
	margin-top: .25rem;
}

#statistic span {
	font-size: .25rem;
	color: var(--txt-color-dark);
	float: left;
}

#statistic .withBtn {
	float: left;
	margin-right: auto;
	margin-left: auto;
	font-size: .25rem;
	width: 100%;
	visibility: hidden;
	text-align: center;
}

#statistic #line {
	margin-top: .25rem;
}

#statistic div .colorBtn {
	width: .25rem;
	height: .25rem;
	font-size: .25rem;
	border: 1px solid var(--txt-black);
	float: left;
}

#colorWin1 {
	background-color: #FCCB1A;
}

#colorWin2 {
	background-color: #4424D6;
}

#colorTie {
	background-color: #110934;
}

#total {
	padding-left: .25rem;
}

.banner {
	width: 100%;
	float: left;
	position: absolute;
	z-index: 2;
	font-size: 1.5rem;
	text-align: center;
	margin-top: 40vh;
	padding: 1rem;
	background-color: var(--head-color);
	color: var(--main-txt-color);
	opacity: .85;
	display: none;
	cursor: pointer;
}

.footer {
	float: left;
	width: 100%;
	height: 7vh;
	padding: 1vh;
	font-size: .5rem;
	text-align: center;
	color: var(--txt-black);
	background-color: var(--head-color);
}

.footer span {
	font-size: .75rem;
}
